body { background: #94e4c; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 25px; display: flex; }
.block-token-0 { color: #3c1de8; font-size: 16px; margin-bottom: 5px; }
.block-cluster-1 { color: #635f66; font-size: 21px; margin-bottom: 5px; }
.block-notify-2 { color: #d9f57d; font-size: 14px; margin-bottom: 5px; }
.block-user-3 { color: #ea54c2; font-size: 21px; margin-bottom: 5px; }
.block-metrics-4 { color: #17786e; font-size: 13px; margin-bottom: 5px; }
.block-invoice-5 { color: #4ef14e; font-size: 13px; margin-bottom: 5px; }